@import './assets/styles/variables.css';
@import './assets/styles/reset.css';

/* Global Utilities (Manual Sculpture) */
.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}